# Dependências
node_modules/
backend/target/
frontend/.next/
frontend/out/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo
*.user
*.suo
*.sln.docstates

# Logs e Temporários
*.log
backend/*.log
backend/*.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pid

# Variáveis de Ambiente (Segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Java binários e builds
backend/bin/
*.class
backend/src/main/java/**/*.class
*.jar
*.war
*.ear

# Maven
.mvn/
!backend/.mvn/wrapper/maven-wrapper.jar

# Outros
dist/
build/
uploads/
backend/uploads/

# Protecao de Chaves SSH
*_key*
*id_rsa*
*ed25519*
